main.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 2rem 1rem 5rem 1rem;
    background-color: var(--text-light);
    /* background-image: linear-gradient(var(--primary-color) -40%, var(--secondary-color) 30% 65%, var(--primary-color) 142%); */
}

.contact-title {
    color: var(--primary-color);
    font-size: clamp(1.5rem, .5rem + 2vw, 1.8rem);
    font-weight: bold;
    border-bottom: 3px solid var(--primary-color);
    z-index: 1;
}

.contact-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    width: min(800px, 100%);
}

.contact-tile {
    background-image: var(--primary-gradient);
    /* linear-gradient(var(--primary-color) 10%, var(--primary-color-gradient)); */
    color: var(--secondary-color);
    box-shadow: 0px 0px 10px 0px var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 1rem;
    gap: 1rem;
    z-index: 1;
}

.phone-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-tile img {
    filter: 
    brightness(0) 
    saturate(100%) 
    invert(100%) 
    sepia(46%) 
    saturate(311%) 
    hue-rotate(180deg) 
    brightness(115%) 
    contrast(100%);
    width: 60px;
    height: 60px;
}



@media only screen and (height <= 800px) {
    .contact-title {
        color: var(--secondary-color);
        border-color: var(--secondary-color);
    }
}