footer {
    background-color: var(--primary-color);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background-image: var(--primary-gradient);
    z-index: 1;
}

footer p {
    color: var(--text-light);
}