.header-nav {
    display: flex;
    gap: 4rem;
}

header nav a {
    color: var(--text-dark);
}

.menu-btn {
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    outline: none;
    border-radius: 5px;
    display: none;
}

.menu-btn:hover, .menu-btn:focus {
    filter:
    brightness(0) 
    saturate(100%) 
    invert(100%) 
    sepia(21%) 
    saturate(229%) 
    hue-rotate(178deg) 
    brightness(110%) 
    contrast(90%);
}

.menu-img {
    width: 30px;
}

header .hidden {
    display: none;
}

.menu-drop-down {
    position: absolute;
    top: 100%;
    background-color: var(--primary-color);
    background-image: var(--primary-gradient);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 3rem 0;
    transform-origin: top;
    animation-name: drop-down;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    animation-duration: .3s;
}



@keyframes drop-down {
    0% {transform: scaleY(0); opacity: 0;}
    75% {transform: scaleY(1.1); opacity: 1;}
    100% {transform: scaleY(1);}
}



@media only screen and (width <= 500px) {
    .menu-btn {
        display: flex;
    }

    .header-nav {
        display: none;
    }
}