main.homepage {
    width: 100%;
    overflow: hidden;
}

.hero {
    width: 100%;
    position: relative;
    view-timeline-name: --img-scroll;
    animation-name: black-n-white-fade;
    animation-timeline: --img-scroll;
    animation-duration: 1ms;
    animation-fill-mode: both;
    animation-direction: reverse;
    /* background-image: linear-gradient(white, black 150%); */
}

.hero picture * {
    width: 100%;
    filter: blur(.4rem);
}

.hero .tagline-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .tagline {
    background-color: rgb(0, 0, 0, .2);
    padding: 1rem;
    color: var(--text-light);
    font-size: clamp(1rem, .5rem + 2vw, 2rem);
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 5px black;
}

.quote-section {
    padding: clamp(0rem, .5rem + 10vw, 12rem);
    background-color: white;
    overflow: hidden;
}

.quote-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.quote {
    font-size: clamp(1rem, .5rem + 2vw, 2rem);
    font-weight: bold;
    color: var(--text-light);
    background-color: var(--primary-color);
    border-radius: 60px;
    padding: 2rem;
    box-shadow: 0px 0px 5px 0px var(--text-dark);
    background-image: linear-gradient(var(--primary-color), 80%, var(--text-dark));
    z-index: 1;
    /* visibility: hidden; */
}

.quote-bar {
    position: absolute;
    height: 600px;
    width: 15%;
    background-color: var(--primary-color);
    opacity: .8;
    top: 0%;
    left: 50%;
    transform: rotate(-45deg);
}

.quote-bar-2 {
    position: absolute;
    bottom: 0%;
    height: 600px;
    width: 15%;
    left: 50%;
    background-color: var(--primary-color);
    opacity: .8;
    transform: rotate(45deg);
}

.mission-statement-section {
    background-color: var(--text-light);
    padding: clamp(2rem, .5rem + 10vw, 14rem);
    display: flex;
    justify-content: center;
    position: relative;
    filter: brightness(90%);

    /* background-image: url("/src/assets/white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.mission-statement {
    font-size: clamp(1rem, .5rem + 2vw, 2rem);
    font-weight: bold;
    color: var(--text-dark);
    z-index: 1;
}

.shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.boxy-slice {
    position: absolute;
    background-color: var(--primary-color);
    width: max(10%, 150px);
    height: 240%;
    top: -80%;
    transform: skewX(-30deg);
    box-shadow: 0px 0px 20px 0px var(--primary-color);
    opacity: .7;
}

.services-section {
    background-color: var(--primary-color);
    padding: clamp(5rem, .5rem + 15vw, 18rem) 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: var(--primary-gradient);
    color: var(--text-light);
    position: relative;
    font-size: clamp(1rem, .5rem + 2vw, 2rem);
}

.services-alert-wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-shadow: 4px 5px 5px black;
}

.services-alert-wrapper > a {
    background-color: var(--text-light);
    background-image: linear-gradient(var(--text-light), 70%, black 120%);
    padding: .5rem 1rem;
    text-shadow: none;
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 4px 4px 10px black;
    font-weight: bold;
    outline: none;

    will-change: color;
    transition: all .1s linear;
}

.services-alert-wrapper > a:hover, 
.services-alert-wrapper > a:focus {
    box-shadow: none;
    background-color: var(--text-light-hover-color);
    color: var(--text-dark);
}

.services-background-img {
    position: absolute;
    top: 15%;
    height: 70%;
    opacity: .4;
    right: 1%;
}



@keyframes black-n-white-fade {
    0% {filter: saturate(0%);}
    70% {filter: saturate(100%);}
    100% {filter: saturate(100%);}
}
