#root {
	max-width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	position: relative;
}

.background-image {
	top: 0;
	left: 0;
	background-image: url("./assets/background.svg");
	background-position: center;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
}