@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: "roboto", sans-serif;
	--primary-color: #13315C;
	--primary-color-gradient: hsl(197, 15%, 62%);
	--text-dark: hsl(0, 0%, 5%);
	--text-light: hsl(0, 0%, 95%);
	--secondary-color: #EEF4ED;
	/* --secondary-color: #ffaa5f; */
	--primary-gradient: linear-gradient(45deg, var(--primary-color) 10%, var(--primary-color-gradient));
}